{% extends 'base.html.twig' %}

{# {% block stylesheets %}
<link href="../../assets/style.css" rel="stylesheet">
{% endblock %} #}

{% block title %}Créer une figure{% endblock %}

{% block body %}
<main class="create-figure-page">

    <h1>Ajouter une nouvelle figure :</h1>

    {{ form_errors(form) }}

    {{ form_start(form, {'attr': {'class': 'create-figure-form'}}) }}
        {{ form_row(form.name, {'attr': {'class': 'create-figure-form-row'}}) }}
        {{ form_row(form.groupe, {'attr': {'class': 'create-figure-form-row'}}) }}
        {{ form_row(form.description, {'attr': {'class': 'create-figure-form-row'}}) }}

        <button type="submit" class="register-form-btn">Créer la figure</button>
    {{ form_end(form) }}
</main>
{% endblock %}
