{% extends 'base.html.twig' %}

{% block title %}Les Tricks{% endblock %}

{% block body %}
<main class="figure-page">
{{ form_errors(figureForm) }}

    {{ form_start(figureForm, {'attr': {'class': 'edit-figure-form'}}) }}
        <section class="figure-page-head">
            {% if figure.getBanner() == null %}
                <div class="figure-banner-placeholder"></div>
                {% else %}
                <div class="figure-page-head-banner">
                    <img src="/{{ figure.getBanner().getMediaPath() }}" alt="banner" loading="lazy">
                </div>
            {% endif %}
            <div class="figure-page-head-title">
                {{ form_label(figureForm.name, "Le nom de la figure :", {
                    'label_attr': {'class': 'addVideo-form-inputgroup margin'}
                }) }}
                {{ form_row(figureForm.name, {'attr': {'class': 'edit-figure-form-row'}}) }}
            </div>
            <div class="edit-figure-page-banner-tool">
                {% if figure.getBanner() %}
                    <button class="register-form-btn">
                        <a href="{{ path('app_media_delete', {id: figure.getBanner().getId()}) }}">
                            🗑️
                        </a>
                    </button>
                {% endif %}
                <button class="register-form-btn">
                    <a href="{{ path('app_media_manage_banner', {id: figure.id}) }}">Changer de bannière</a>
                </button>
            </div>
        </section>
        <section class="figure-page-medias">
        {% if medias %}
            {% for media in medias %}
                {% if media.groupe.value == "photo" and not media.firstMedia %}
                <div class="figure-media">
                    <img src="/{{ media.getMediaPath() }}" alt="{{ figure.name }}-photo media" loading="lazy">
                    <div class="figure-media-tool">
                        <a href="{{ path('app_media_delete', {id: media.id}) }}">
                            <span>🗑️</span>
                        </a>
                        <a href="{{ path('app_media_update', {id: media.id}) }}">
                            <span>✏️</span>
                        </a>
                    </div>
                </div>
                {% endif %}
                {% if media.groupe.value == "video" %}
                    {% if media.getMediaPath() == "" %}
                    <div class="figure-media-video">
                        <img src="{{ asset('assets/images/videoNotWorking.png') }}" alt="video not working" loading="lazy">
                        <div class="figure-media-tool">
                            <a href="{{ path('app_media_delete', {id: media.id}) }}">
                                <span>🗑️</span>
                            </a>
                            <a href="{{ path('app_media_update', {id: media.id}) }}">
                                <span>✏️</span>
                            </a>
                        </div>
                    </div>
                    {% else %}
                    <div class="figure-media-video">
                        <iframe width="350" height="200" src="https://www.youtube.com/embed/{{ media.getMediaPath() }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                        <div class="figure-media-tool">
                            <a href="{{ path('app_media_delete', {id: media.id}) }}">
                                <span>🗑️</span>
                            </a>
                            <a href="{{ path('app_media_update', {id: media.id}) }}">
                                <span>✏️</span>
                            </a>
                        </div>
                    </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endif %}
        <div class="add-media-btn" id="addMediaBtn">
                <span>+</span>
        </div>
        </section>
        {{ form_label(figureForm.groupe, "Le groupe de la figure :", {
                    'label_attr': {'class': 'addVideo-form-inputgroup margin'}
                }) }}
        {{ form_row(figureForm.groupe, {'attr': {'class': 'edit-figure-form-row'}}) }}
        {{ form_label(figureForm.description, "La description de la figure :", {
                    'label_attr': {'class': 'addVideo-form-inputgroup margin'}
                }) }}
        {{ form_row(figureForm.description, {'attr': {'class': 'edit-figure-form-row'}}) }}

        <button type="submit" class="register-form-btn modif-figure-btn">Modifier la figure</button>
    {{ form_end(figureForm) }}

    {# modal ajout media choix #}
    <div id="addMediaFirstModal" class="MediaModal hideModal addMediaFirstModal">
        <span id="addMediaFirstModalExitBtn">x</span>
        <p id="addMediaPhotoModalBtn" class="addMediaBtn"><a href="{{ path('app_media_create_photo', {id: figure.id} )}}">Ajouter une photo</a></p>
        <p id="addMediaVideoModalBtn" class="addMediaBtn"><a href="{{ path('app_media_create_video', {id: figure.id} )}}">Ajouter une vidéo</a></p>
    </div>

</main>
{% endblock %}

{% block javascripts %}
<script src=" {{ asset('assets/js/mediaUploadModal.js') }}" defer></script>
{% endblock %}