{% extends 'base.html.twig' %}

{% block title %}Les Tricks{% endblock %}

{% block body %}
<main class="figure-page">
{{ form_errors(figureForm) }}

    {{ form_start(figureForm) }}
        <section class="figure-page-head">
            {% if figure.getBanner() == null %}
                <a href="{{ path('app_figure', {name: figure.name})}}">
                    <div class="figure-card-imgplaceholder"></div>
                </a>
                {% else %}
                <div class="figure-page-head-banner">
                    <img src="/{{ figure.getBanner().getMediaPath() }}" alt="banner">
                </div>
            {% endif %}
            <div class="figure-page-head-title">
                {{ form_row(figureForm.name) }}
            </div>
            <div class="figure-page-head-btn">
                <button class="register-form-btn editBannerBtn" id="editMediaBtn">Changer de bannière</button>
            </div>
        </section>
        {{ form_row(figureForm.groupe) }}
        {{ form_row(figureForm.description) }}

        <button type="submit" class="register-form-btn">Modifier la figure</button>
    {{ form_end(figureForm) }}

    {# modal #}
    <div id="uploadModal" class="uploadMediaModal hideModal">
        <span id="modalExitBtn">x</span>
        {{ form_errors(mediaForm) }}

        {{ form_start(mediaForm, {'attr': {'class': 'register-form'}}) }}
            {{ form_row(mediaForm.media_path, {'attr': {'class': 'register-form-inputgroup'}}) }}
            <button type="submit" class="register-form-btn">Enregistrer</button>
        {{ form_end(mediaForm) }}
    </div>
</main>
{% endblock %}

{% block javascripts %}
<script src=" {{ asset('assets/js/mediaUploadModal.js') }}" defer></script>
{% endblock %}