{% extends 'base.html.twig' %}

{% block title %}{{ figure.name }}{% endblock %}

{% block body %}
<main class="figure-page">
    <section class="figure-page-head">
        {% if figure.getBanner() == null %}
            <div class="figure-banner-placeholder"></div>
            {% else %}
            <div class="figure-page-head-banner">
                <img src="/{{ figure.getBanner().getMediaPath() }}" alt="banner">
            </div>
        {% endif %}
        <div class="figure-page-head-title">
            <h1>{{ figure.name }}</h1>
        </div>
        {% if app.user == figure.getUserId %}
        <div class="figure-page-head-btn">
            <a href="{{ path('app_figure_edit', {id: figure.id}) }}"><button class="register-form-btn">Modifier</button></a>
        </div>
        {% endif %}
    </section>
    <div class="showMediaBtn" id="showPicture">
        <p>Voir les medias</p>
    </div>
    <section class="figure-page-medias" id="figuresMedias">
        {% if medias %}
            {% for media in medias %}
                {% if media.groupe.value == "photo" and not media.firstMedia %}
                <div class="figure-media">
                    <img src="/{{ media.getMediaPath() }}" alt="{{ figure.name }}-photo media" loading="lazy">
                </div>
                {% endif %}
                {% if media.groupe.value == "video" %}
                    {% if media.getMediaPath() == "" %}
                    <div class="figure-media-video">
                        <img src="{{ asset('assets/images/videoNotWorking.png') }}" alt="video not working" loading="lazy">
                    </div>
                    {% else %}
                    <div class="figure-media-video">
                        <iframe width="350" height="200" src="https://www.youtube.com/embed/{{ media.getMediaPath() }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endif %}
    </section>
    <section class="figure-page-description">
        <p>{{ figure.description }}</p>
    </section>
    <section class="figure-page-info">
        <p class="figure-page-info-capsule">Date de création : {{ figure.getCreationDate|date("d/m/Y") }}</p>
        {% if figure.getUpdateDate %}
        <p class="figure-page-info-capsule">Dernière mise à jour : {{ figure.getUpdateDate|date("d/m/Y") }}</p>
        {% endif %}
        <p class="figure-page-info-capsule">{{ figure.groupe.value }}</p>
    </section>
    <div class="separator"></div>
    <section class="comment-section">
        {% if app.user %}
        <div class="comment-input">
        {{ form_errors(formComment) }}
            {{ form_start(formComment, {'attr': {'class': 'comment-form'}}) }}
            {{ form_row(formComment.content, {'attr': {'class': 'comment-form-input'}}) }}
                <button type="submit" class="register-form-btn">Commenter</button>
            {{ form_end(formComment) }}
        </div>
        {% else %}
        <p><a href="{{ path('app_login') }}">Connectez</a> vous pour laisser un commentaire !</p>
        {% endif %}
    </section>
    <div class="separator"></div>
    <section class="all-comments-section" id="all-comments-section">
        {% if comments|length < 1 %}
            <p>Pas encore de commentaire, soyez le premier !</p>
        {% endif %}
    </section>
    <button class="loadComment-btn" id="loadCommentBtn">voir plus</button>
</main>
{% endblock %}

{% block javascripts %}
<script src=" {{ asset('assets/js/loadComment.js') }}" defer></script>
<script src=" {{ asset('assets/js/showMedia.js') }}" defer></script>
{% endblock %}