{% extends 'base.html.twig' %}

{% block title %}Changer le mot de passe{% endblock %}

{% block body %}
<main class="reset-password-page">
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <h1>Changer votre mot de passe</h1>

    {{ form_start(requestForm, {'attr': {'class': 'resetPassword-form'}}) }}
        {{ form_label(requestForm.email, "Adresse mail :", {
            'label_attr': {'class': 'resetPassword-form-row-label'}
        }) }}
        {{ form_row(requestForm.email, {'attr': {'class': 'resetPassword-form-row'}}) }}
        <div>
            <small>
                Entrez l'adresse mail de votre compte, et nous enverrons un lien à cette adresse pour changer votre mot de passe.
            </small>
        </div>

        <button class="register-form-btn">Envoyer le mail de changement de mot de passe.</button>
    {{ form_end(requestForm) }}
</main>
{% endblock %}

